<style>
    .styled-linkbutton {
        display: block;
    }

        .styled-linkbutton:is(:hover) {
            text-decoration: underline;
        }
</style>


@foreach (var item in items)
{
    <Button Class="styled-linkbutton" style="text-transform:none;" Role="link">
        <Hyperlink Href="@item.url">@item.name</Hyperlink>
    </Button>
}

@code {

    List<(string name, string url)> items = new List<(string name, string url)>
{
        ("Twitter(@ShunYamazaki5)", "https://twitter.com/ShunYamazaki5"),
        ("GitHub(@sYamaz)", "https://github.com/sYamaz")
    };

}

